.resy-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input, button {
  margin: 10px;
  width: 17%;
  height: 30px;
  border: 2px solid #038080;
  font-size: 18px;
}

button {
  height: 50px;
  background-color: #038080;
  color: whitesmoke;
}
